<div class="row" *ngIf="!authenticated">
  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <h4>Please log in first!</h4>
    <div>
      <button class="btn btn-primary" routerLink="/signin">Sign in</button>
      <button class="btn btn-default" routerLink="/signup">Sign up</button>
    </div>
  </div>
</div>
<div *ngIf="authenticated">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <img [src]="user.imageUrl" class="img-responsive">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div style="margin-bottom: 20px">
        <textarea rows="5" placeholder="Your message" #messageInput class="form-control"></textarea>
      </div>
      <div class="checkbox">
        <label>
        <input type="checkbox" #adminCheckbox> Admin Only
      </label>
      </div>
      <div>
        <button class="btn btn-primary" (click)="onSend(messageInput.value, adminCheckbox.checked)">Send</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default" *ngFor="let message of getMessages()">
        <div class="panel-body">{{ message.content }}</div>
      </div>
    </div>
  </div>
</div>
