<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Firebase Chat</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authenticated" routerLinkActive="active"><a routerLink="/signup">Signup</a></li>
        <li *ngIf="!authenticated" routerLinkActive="active"><a routerLink="/signin">Signin</a></li>
        <li *ngIf="authenticated"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
